{{ define "css" }}
    
{{ end }}


{{ define "content" }}
    <div class="ui menu">
	  <a class="active item">
	    <i class="car icon"></i> Find
	  </a>
	  <a class="item">
	    <i class="building icon"></i> Rent
	  </a>
	</div>
	<div class="ui grid">
	    <div class="six wide column">
	    	
	    </div>
	    <div id="map" class="ten wide column">
	    	
	    </div>
  	</div>
	<label id="token" hidden>{{ .Token }}</label>

{{ end }}

{{ define "js" }}
    <script type="text/javascript" src="http://icalialabs.github.io/dmaps/dmaps.js"></script>
{{ end }}