{{ define "css" }}
    <link rel="stylesheet" type="text/css" href="/media/css/index.css">
{{ end }}
{{ define "js" }}
    <script src="/media/js/index.js"></script>
{{ end }}
{{ define "content" }}
	<div class="ui inverted masthead segment">
    <div class="ui page grid">
      <div class="column">
        <div class="ui hidden transition information">
        	<h1 class="ui inverted header">
            	Find A Parking
        	</h1>
          	<p>At least he won't reach his highest potential unless you enroll him in Cat University's 2013 class.</p>
 			<a href="home">
            	<div class="ui google plus button">
			  		<i class="google plus icon"></i>
			  		Entra
				</div>
			</a>
        
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="ui three column center aligned stackable divided grid">
          <div class="column">
            <div class="ui icon header">
              <i class="student icon"></i>
              Courses
            </div>
            <p>Take your kitty to a cat-ducation course and learn how to treat her well.</p>
            <p>
              <a class="ui button" href="#">
                Learn
              </a>
            </p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="code icon"></i>
              Library
            </div>
            <p>Dig through our cat library to found out amazing things you can do with your kitty.</p>
            <p>
              <a class="ui blue right labeled icon button" href="#">
                Research
                <i class="right chevron icon"></i>
              </a>
            </p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="user icon"></i>
              Community
            </div>
            <p>Get feedback on your cat from a community of loving pet owners on our online bulletin board system.</p>
            <p>
              <a class="ui button" href="#">
                Share
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="ui inverted footer vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="ten wide column">
        <div class="ui three column center aligned stackable grid">
          <div class="column">
            <h5 class="ui inverted header">Courses</h5>
            <div class="ui inverted link list">
              <a class="item">Registration</a>
              <a class="item">Course Calendar</a>
              <a class="item">Professors</a>
            </div>
          </div>
          <div class="column">
            <h5 class="ui inverted header">Library</h5>
            <div class="ui inverted link list">
              <a class="item">A-Z</a>
              <a class="item">Most Popular</a>
              <a class="item">Recently Changed</a>
            </div>
          </div>
          <div class="column">
            <h5 class="ui inverted header">Community</h5>
            <div class="ui inverted link list">
              <a class="item">BBS</a>
              <a class="item">Careers</a>
              <a class="item">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="six wide column">
        <h5 class="ui inverted header">Contact Us</h5>
        <addr>
          237 Catberry Road <br>
          Milton Keynes, London <br>
        </addr>
        <p>(404) 867-5309</p>
      </div>
    </div>
  </div>

{{ end }}